@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'Silkscreen', ui-monospace, monospace;

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-brand-blue: var(--brand-blue);
    --color-brand-green: var(--brand-green);
    --color-brand-yellow: var(--brand-yellow);
    --color-brand-red: var(--brand-red);
    --color-neutral-50: var(--neutral-50);
    --color-neutral-100: var(--neutral-100);
    --color-neutral-200: var(--neutral-200);
    --color-neutral-300: var(--neutral-300);
    --color-neutral-400: var(--neutral-400);
    --color-neutral-500: var(--neutral-500);
    --color-neutral-600: var(--neutral-600);
    --color-neutral-700: var(--neutral-700);
    --color-neutral-800: var(--neutral-800);
    --color-neutral-900: var(--neutral-900);
    --color-neutral-950: var(--neutral-950);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --brand-blue: oklch(0.2523 0.1105 265.96);
    --brand-green: oklch(0.3059 0.075368 123.3546);
    --brand-yellow: oklch(0.7302 0.1658 43.66);
    --brand-red: oklch(0.6046 0.2365 30.85);
    --neutral-50: oklch(0.97 0.02 25);
    --neutral-100: oklch(0.915 0.04 25);
    --neutral-200: oklch(0.825 0.06 25);
    --neutral-300: oklch(0.72 0.06 25);
    --neutral-400: oklch(0.595 0.06 25);
    --neutral-500: oklch(0.485 0.06 25);
    --neutral-600: oklch(0.44 0.06 25);
    --neutral-700: oklch(0.35 0.06 25);
    --neutral-800: oklch(0.28 0.06 25);
    --neutral-900: oklch(0.205 0.06 25);
    --neutral-950: oklch(0.135 0.06 25);
    --background: var(--neutral-50);
    --foreground: var(--neutral-950);
    --card: var(--neutral-50);
    --card-foreground: var(--neutral-950);
    --popover: var(--neutral-50);
    --popover-foreground: var(--neutral-950);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --background: var(--neutral-950);
    --foreground: var(--neutral-50);
    --card: var(--neutral-950);
    --card-foreground: var(--neutral-50);
    --popover: var(--neutral-950);
    --popover-foreground: var(--neutral-50);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .bg {
        background-image:
            url('https://picperf.io/https://media.riffandrefine.fm/bg.webp'),
            linear-gradient(to bottom right, var(--brand-blue), var(--brand-green), var(--brand-red), var(--brand-yellow));
        background-size: cover;
        background-position: center;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .bg {
            background-image:
                url('https://picperf.io/https://media.riffandrefine.fm/bg@2x.webp'),
                linear-gradient(to bottom right, var(--brand-blue), var(--brand-green), var(--brand-red), var(--brand-yellow));
        }
    }
}
